.footer_wrapper {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    
   
}

.logo_badge {
    height: 42px;
}

.badges {
    display: flex;
    justify-content: space-evenly;
      
}

.logo_badge {
    margin-right:20PX ;
}

.logo_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address {
    font-size: 16px;
    color: whitesmoke;
}


.copy {
    color: whitesmoke;
    font-size: 10PX;
}

.socail_icons {
    text-align: center;
    
}


@media only screen and (max-width: 912px) {

.footer_wrapper {
  
    display: flex;
    flex-direction: column;
    height: 420px;  
   
}

.socail_icons {
    margin-top: -50px;
}

.badges {
    margin-bottom:50px ;

}


}


@media only screen and (max-width: 550px) {
    .logo_footer {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-bottom: -100px;
    }

    .address {
        text-align: center;
        font-size: 10px;

    }

    .badges {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .socail_icons {
        margin-top: 40px ;
    }


.footer_wrapper {
    height: 450px;   
   
}


}
