video {
    width: 100%;
}

.content {
  position: absolute;
  top: 220px;
  right: 50px;
  display: flex;
  flex-direction: column;

}




.free_quote_form {
    height: 400px;
    width: 380px;
    background-color: #575746;
    opacity: .8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.heading_wrapper {
  position: absolute;
  top: 140px;
  left: 10px;
  display: flex;
  flex-direction: column;

  
}

.main_heading {
  height: 400px;
  width: 400px;
}






.booking_button {
border-radius: 20px;
    background-color: #d89e1a;
    border: none;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 700;
    margin-right: 80px;
    margin-top: -22px;
}

.booking_button:hover {
  background-color:  whitesmoke;
  color: black;
  
}





@media only screen and (max-width: 1242px) {

.main_heading {
  font-size: 30px;
}

.main_heading_two {
  font-size: 25px;
}

.booking_button {
  width: 150px;
}

.vl {

  height: 130px;
}




}

@media only screen and (max-width: 900px) {
.heading_wrapper {
  top: 110px;
  left: 10px; 
  
}


.main_heading, .main_heading_two {
  font-size: 30px;
 
}

.main_heading_two {
  margin-bottom: 30px;
}

}

@media only screen and (max-width: 830px) {
  .main_heading {
  height: 300px;
  width: 300px;
}

.heading_wrapper {
  top: 130px;
  left: 10px; 
  
}


}

@media only screen and (max-width: 830px) {
  .main_heading {
  height: 250px;
  width: 250px;
}

.heading_wrapper {
  top: 140px;
  
}


}




@media only screen and (max-width: 688px) {


.main_heading, .main_heading_two {
  font-size: 20px;
 
}
}

@media only screen and (max-width: 600px) {



.main_heading_two {
  margin-bottom: 30px;
}

.main_heading {
  margin-bottom: -10px;
}



}

@media only screen and (max-width: 550px) {
.heading_wrapper {
  top: 125px;
  left: 40px; 
  
}

.booking_button, .main_heading, .main_heading_two {
display: none;
    


}

.main_heading {
  color: black;
}



}

@media only screen and (max-width: 450px) {
  .main_heading_two {
  display: none;
  
}

.booking_button {
margin-top: 15px;


}


}

