h2 {
    font-size: 18px;
}

.grid-wrapper_service {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 80px;
    max-width: 100%;
   
}

.container_service {
    width: 260px;
    height: 178px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #b8b5b5;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


}

.container_service:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
transition: all 600ms ease;
}


.modal-content_bottom {
    position: relative;
    bottom: 0%;
    left: 15%;
    transform: translate(-25%, -25%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 380px;
    height: 560px;
    background-color: rgb(35, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}

@media only screen and (max-width: 842px) {

.container_service {
    width: 180px;
    height: 140px;  
}

h2 {
    font-size: 14px;
}


.service_heading, .Secound_bottom_heading {
    font-size: 25px;
}



}

@media only screen and (max-width: 550px) {

    .grid-wrapper_service { 
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 380px) {

   .container_service {
    width: 160px;
    height: 140px;  
}

}



